
html {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body {
    height: 100vh;
    margin: 0;
}

header {
    /* background-color: azure; */
    /* padding-top: 5px; */
    display: fixed;
    height: 10vh;
    
    
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    margin-top: 0;
    margin-bottom: 0;
    align-items: middle;
}

#more-apps {
    /* background-size: 30px; */
    padding-top: 3px;
    height: 25px; 
    width:25px;
}

#profile-pic {
    /* background-size: 30px; */
    padding-top: 3px;
    height: 30px; 
    width:30px;
    border-radius: 50%;
}

ul div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#right-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

li {
    list-style-type: none;
    padding: 5px;
    align-items: middle;
    
}
a {
    text-decoration: none;
    color: #000;
    opacity: 0.75;
    font-family: arial,sans-serif;
    font-size: 13px;
}

#canada {
    display: flex;
    justify-content: flex-start;
    margin: 10px;
    border-top: 10px;
    height: 5vh;

}

footer {
    align-self: flex-end;
    height: 5vh;
}
main {
    display: flex;
    justify-content: center;
    height: 78vh;
    align-content: flex-end;
}

#google-img {
    height: 20vh;
    margin-top: 10vh;
}

.search-bar {
    border-style: double;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 30px;
    padding: 3px;

}
form div input {
    border-style: none;
    width: 80%;
    /* height: inherit; */
}

.search {
    height: 25px;
    /* width: 25px; */
}

#search-div {
    /* align-self: center */
}

li:hover {
    text-decoration: underline;
}